/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24/11/2023, 5:58:28 p. m.
    Author     : Yeison De Jesus
*/


.body10{
    background: black;
}
.header8{
    background-color: #070C0F;
    display: flex;
    justify-content: space-evenly;
}

.h14{
    color:rgb(61, 106, 255);
    font-family: "monospace";
    font-size: 1rem;

}

.boton13{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.boton13:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.boton13:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.boton13::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.boton13:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


.h22{
    text-align: center;
    color: white;
    font-family: "Segoe UI";
}

.img2{
    width: 18rem;
    height: 12rem;
    position: relative;
    display: block; 
    margin: 0 auto;
}

.h30{
    color:white;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}

.contenedor14{
    background-color: #070C0F;
    width: 24rem;
    height: 34rem;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,10%);
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}

.top2{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#2EAEFF,#3850FF);
    animation: animate-border-top 2s linear infinite;
}

@keyframes animate-border-top{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(100%);
    }
}

.right2{
    position: absolute;
    top:0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom,#2EAEFF,#3850FF);
    animation: animate-border-right 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate-border-right{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY(100%);
    }
}

.bottom2{
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left,#2EAEFF,#3850FF);
    animation: animate-border-bottom 2s linear infinite;
}

@keyframes animate-border-bottom{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(-100%);
    }
}

.left2{
    position: absolute;
    top:0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top,#2EAEFF,#3850FF);
    animation: animate-border-left 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate-border-left{
    0%{
        transform:translateY(100%);
    }
    100%{
        transform:translateY(-100%);
    }
}

.h40{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Segoe UI";
}

.spa2{
    color:white;
    font-family: "Segoe UI";
}

.ui-inputfield.entrada4{
    width: 210px;
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 4px;
    border: 3rem solid(rgb(61, 106, 255));
    color: rgb(61, 106, 255);
    animation: shake_541 0.14s 3;
}

.ui-inputfield.entrada4:valid {
    border-color: rgb(61, 106, 255);
    animation: none;
}
@keyframes shake_541 {
    0%, 100% {
        translate: 0;
    }

    25% {
        translate: 8px 0;
    }

    75% {
        translate: -8px 0;
    }
}

.botones4{
    padding: 2rem;
}

.boton12{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.boton12:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.boton12:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.boton12::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.boton12:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

