/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6/11/2023, 7:22:41 p. m.
    Author     : Yeison De Jesus
*/


.body3{
    background: black;
}




.Contenedor3{
    width: 20rem;
    height: 23rem;
    background-color: #070C0F;
    border-radius: 1rem;
    border: rgb(61, 106, 255) 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}



.Contenedor3:hover {

    border: rgb(61, 106, 255) 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}

.h33{
    text-align: center;
    color: white;
    font-family: "Segoe UI";
    padding: 10px;
}

.header3{
    background-color: #070C0F;
    display: flex;
    justify-content: space-evenly;

}
.p3{
    color:rgb(61, 106, 255);
    font-family: "monospace";
    font-size: 1rem;

}
.a{
    text-align: center;
    padding: 5px;
    

}

.text{
    
    color:white;
    font-family: "Segoe UI";

}





.ui-inputfield.entrada{
    width: 210px;
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 4px;
    border: 3rem solid(61, 106, 255);
    color: #f9f9f9;
    animation: shake_541 0.14s 3;
}

.ui-inputfield:valid {
    border-color: rgb(61, 106, 255);
    animation: none;
}
@keyframes shake_541 {
    0%, 100% {
        translate: 0;
    }

    25% {
        translate: 8px 0;
    }

    75% {
        translate: -8px 0;
    }
}

.boton4{
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.boton4:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.boton4:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.boton4::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.boton4:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.b{
    text-align:  center;
    padding: 9px;
}
.boton5 {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;

}

.boton5:hover {
    letter-spacing: 3px;
    background-color: rgb(61, 106, 255);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(61, 106, 255) 0px 7px 29px 0px;
}

.boton5:active {
    letter-spacing: 3px;
    background-color: rgb(61, 106, 255);
    color: rgb(61, 106, 255);
    box-shadow: rgb(61, 106, 255) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.av{
    color:white;
}
.spa3{
    color:white;
    font-family: "Segoe UI";
}



